body
{
    background-color: #f6f5f5;
    margin-right: 0px;
    padding: 0px;
}
ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

section
{
    width: 100%;
    height: 95vh;
    background-image: url(/alinemelry.github.io/imagem/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}